/* Css Document */

/*.navbar > ul li a{
  display: block;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: all .2s ease-in-out;
}

.navbar > ul li a:hover{
  color: #000;
  padding: 10px 5px 5px 25px;
  font-size: 18px;
}*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

#leftfold{
	background-image: url("../images/pexels-photo-326424.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*#leftfold {
    position: relative;
    max-width: 800px; /* Maximum width
    margin: 0 auto;  Center it
}*/

#leftfold .content {
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

.overlay {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
	width: 100%;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay:hover .image {
  opacity: 0.3;
}

.overlay:hover .middle {
  opacity: 1;
}

.text {
  background-color: #333;
	opacity: 0.9;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

p.txt{
  font-size: 14px;
  max-width: 170px;
  max-height: 45px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
p.txtg{
  padding: 0;
  margin: 0;
}

small.txtg{
  padding: 0;
  margin: 0;
}

h6.txtg{
  padding: 0;
  margin: 0;
}

div#srchRslt.row > div.srchDivs:not(:first-child){
  border-top: 1px solid #000;
  border-width: thin;:
}

div.cart:hover{
  border: 1px solid #fff;
}

div.cart:active{
  border: 1px solid #fff;
}

ul#headnav li > a:active{
  color: #fff;
}

ul#headnav li > a:focus{
  color: #fff;
}

.searchBtn{
  visibility: visible;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  height: 40px;
  width: 58px;
}

form.mobileSrch{
  position: absolute;
  visibility: hidden;
  width: 90%;
  height: 40px;
  padding: 0;
}

button#sBtn{
  height: 40px;
  margin: auto;
 }

#searchBar{
  visibility: hidden;
  margin-left: auto;
  width: 0;
  height: 0;

}

.thumbnail-size{
  width: 160px;
  height: auto;
  margin: 0 28px 0 28px;
}

#jumbotronID{
  background-image: url("../images/homeBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px){
  button.searchBtn{
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  #searchBar{
    position: static;
    visibility: visible;
    width: auto;
    height: auto;
    background-color: #fff;
  }

  .mobileSrch{
    display: none;
  }
}

@media (max-width: 699px){

  div#footerBottom{
    flex-direction: column;
  }

  nav#footerNav{
    display: flex;
  }

  nav#footerNav > ul{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px){
  div#footerBottom{
    flex-direction: row-reverse;
  }

  nav#footerNav{
    margin-left: auto;
  }
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

@media (min-width: 990px){
  #searchBar{
    display: flex;
  }

  #searchBar > form{
    margin-top: auto;
  }

  p#copyright{
    margin-top: auto;
  }
}
